<header class="intro-header" style="background-image: url('images/home-bg6.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section data-ng-controller="BlogController" class="storm section-next-to-header" style="height:550px;">
	<div class="col-lg-7 text-center col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 features">
		<section ui-view></section>
	</div>
	<div class="col-lg-4">
		<p>
			<a ui-sref=".home" class="btn btn-danger">Home</a>
		</p>
		<p>
			<a ui-sref=".page1" class="btn btn-primary">Blog1</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>

	</div>
</section>
