<section data-ng-controller="BlogController" class="storm section-next-to-header" style="height:550px;">
	<div class="col-lg-7 text-center col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 features">
		<h3 style="margin-top:80px;">
			At least once
		</h3>
		<h3>
			Exactly-once(Trident)
		</h3>
		<h3>
			Low latency
		</h3>
		<h3>
			Scalable, Fault-tolerant
		</h3>
		<h3>
			Streaming
		</h3>
	</div>
	<div class="col-lg-4">
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>

	</div>
</section>
