<section data-ng-controller="BlogController" class="storm section-next-to-header" style="height:550px;">
	<div class="col-lg-7 text-center col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 features">
		<section ui-view></section>
	</div>
	<div class="col-lg-4">
		<p>
			<a ui-sref=".home" class="btn btn-danger">Home</a>
		</p>
		<p>
			<a ui-sref=".page1" class="btn btn-primary">Blog1</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>
		<p>
			<a>Weekly meeting -- 23/09/2015</a>
		</p>

	</div>
</section>
