<footer class="footer-bottom" style="overflow:hidden;">
    <div class="col-lg-3 col-lg-offset-1 col-sm-10 col-sm-offset-1">
        <img style="float:left;" class="author" src="images/jun.jpg">
        <p style="line-height:100px; padding-left:20px; float:left; font-family:Arial, Helvetica, sans-serif;"> I am Jun in Aalto university</p>
    </div>
    <div class="col-lg-4 text-center col-sm-12">
        <ul class="list-inline social">
          <li><a href="https://www.facebook.com/yangjun.wang90"><i class="glyph-icon flaticon-facebook55"></i></a></li>
          <li><a href="https://github.com/wangyangjun"><i class="glyph-icon flaticon-github17"></i></a></li>
          <li><a href="https://www.linkedin.com/profile/view?id=AAMAAA8IaJwBQkJWk7YzMLjKC3qrB_qZmYSM3tQ"><i class="glyph-icon flaticon-linkedin12"></i></a></li>
        </ul>
        <p>Contact: yangjun.wang@aalto.fi</p>
    </div>
    <div class="col-lg-4 col-sm-12">
    </div>
</footer>