<footer class="footer-bottom" style="overflow:hidden;">
    <div class="row">
      <div class="flex col-lg-8 text-center col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div>
          <div class="col-lg-2 col-sm-3 col-xs-12" style="float:left; min-width: 160px;">
            <img class="author" src="images/jun.png">
            <ul class="list-inline social">
              <li><a href="https://www.facebook.com/yangjun.wang90"><i class="nomargin glyph-icon flaticon-facebook55"></i></a></li>
              <li><a href="https://github.com/wangyangjun"><i class="nomargin glyph-icon flaticon-github17"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=AAMAAA8IaJwBQkJWk7YzMLjKC3qrB_qZmYSM3tQ"><i class="nomargin glyph-icon flaticon-linkedin12"></i></a></li>
              <li><a href="mailto:yangjun.wang90@gmail.com"><i class="nomargin glyph-icon flaticon-mail"></i></a></li>
            </ul>
          </div>
          <div class="statement col-lg-10 col-sm-9 col-xs-12" style="float:left; display: flex;">
            <p> I am Jun and just graduated from Aalto university. I am very interested in <b>Big Data</b> technologies, expecially stream processing technologies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 text-center col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <hr/>
        <p>Copyright © chinese.fi 2016</p>
      </div>
    </div>
</footer>