<header data-ng-controller="HeaderController" ng-class="head_class">    
    <nav class="navbar navbar-fixed-top header-wrapper" ng-class="header_nav_class">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand dh-font" href="/"><span>Real-time Streaming Benchmark</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li id="aboutmenu"><a href="#!/about">About</a></li>
                    <li id="blogmenu"><a href="#!/blog">Blog</a></li> 
                    <li id="locationmenu"><a href="#!/meeting">Meeting</a></li>
                    <li id="contactmenu"><a href="#!/resume">Contact me</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>