<header class="intro-header" style="background-image: url('images/home-bg4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Hobby</h1>
                    <hr class="small">
                    <span class="subheading">As you see, I like kayak very much. Please contact me, if you want find a kayak partner</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="other-hobbies" class="hobby">
	<div class="text-center" style="position: absolute; width: 100%; z-index: 100;" >
	   <h2 style="margin:30px; color:white;" >Other Hobbies</h2>
	</div>
    <div style="height: 480px;">
    	<div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%; background-image: url('images/badminton.jpg')">

    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%; background-image: url('images/photograph.jpg')">

    	</div>
    </div>
    <div style="height: 480px;">
        <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%; background-image: url('images/badminton.jpg')">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="height: 100%; background-image: url('images/photograph.jpg')">

        </div>
    </div>
</section>
