<section class="section-next-to-header home-section" style="height: 680px; background-image: url(images/background.png); background-size:cover;">
    <div class="container-fluid">
        
        <div class="intro-text text-center col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h2 style="margin:60px 0;">Standard benchmark framework for real time streaming system</h2>
        </div>
                
    </div>
</section>
<section class="storm" >
	<div class="col-lg-5 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 features">
		<img style="width:100%; margin:45px 0;" src="images/microsoft-app-architecture.png"/>
	</div>
	<div class="col-lg-6 text-center ">
		<h3 style="margin-top:80px;">
			<a href="http://www.microsoft.com/en-za/mobile/campaign-lumia-with-skype/">
				<img style="width:75px; height:75px;" src="images/skype-gift.png">
			</a>
		</h3>
		<h3>
			<a href="http://www.microsoft.com/en-us/mobile/campaign-office365/">
				<img style="width:75px; height:75px;" src="images/office365gift.png">
			</a>
		</h3>
		<h3>
			<a href="https://www.microsoft.com/en-us/store/apps/fitbit-gift/9nblggh07tkw">
				<img style="width:75px; height:75px;" src="images/fitbit-gift.png">
			</a>
		</h3>
		<h3>
			<a href="http://www.microsoft.com/en/mobile/switch-offer-terms/">
				<img style="width:75px; height:75px;" src="images/switch-gift.png">
			</a>
		</h3>
	</div>
</section>
<section id="other-works">
	<div class="text-center col-lg-12 col-md-12 col-sm-12">
	<h3 style="margin:30px; color:white;" >Other works</h3>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-12">

	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
	</div>	
</section>
