<header class="intro-header" style="background-image: url('images/home-bg2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="color: brown;">
                    <h1 >Software Developer</h1>
                    <span class="subheading">Focus on BigData technologies, especially Stream Processing technologies. What's more, I am also a front-end developer.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="work-experience" class="work-experience" style="background:gainsboro;" >
	<div class="col-lg-5 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 features">
		<img style="width:100%; margin:45px 0;" src="images/microsoft-app-architecture.png"/>
	</div>
	<div class="col-lg-6 text-center ">
		<h3 style="margin-top:80px;">
			<a href="http://www.microsoft.com/en-za/mobile/campaign-lumia-with-skype/">
				<img style="width:75px; height:75px;" src="images/skype-gift.png">
			</a>
		</h3>
		<h3>
			<a href="http://www.microsoft.com/en-us/mobile/campaign-office365/">
				<img style="width:75px; height:75px;" src="images/office365gift.png">
			</a>
		</h3>
		<h3>
			<a href="https://www.microsoft.com/en-us/store/apps/fitbit-gift/9nblggh07tkw">
				<img style="width:75px; height:75px;" src="images/fitbit-gift.png">
			</a>
		</h3>
		<h3>
			<a href="http://www.microsoft.com/en/mobile/switch-offer-terms/">
				<img style="width:75px; height:75px;" src="images/switch-gift.png">
			</a>
		</h3>
	</div>
</section>

<section id="education" class="education">
	<header>
		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		    	<h2>Education</h2>
		   	</div>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<section>
				<div style="overflow: hidden; ">
					<a href="http://aalto.fi">
						<img class="school-logo" src="images/aalto-logo.png"/>
					</a>
		    		<h3 class="school-name">Aalto University</h3>
		    		<h4 class="school-year">2013-2016</h4>
		    	</div>
		    	<hr/>
		    	<h4><b>Certificate:</b> <span>Master of Science</span> </h4>
		    	<h4><b>Major:</b> <span>Foundations of Advanced Computing</span></h4>
		    	<h4><b>Thesis:</b> <span> StreamBench: Benchmark for Stream Processing Systems</span></h4>
		    	<h4><b>Main Courses:</b> <span>Algorithm, Machine Learning, Cryptology, Data Mining, Scalable Cloud Computing, ...</span></h4>
			</section>
			
			<section>
				<div style="overflow: hidden; ">
					<a href="http://www.hnu.edu.cn">
						<img class="school-logo" src="images/hnu-logo.jpg"/>
					</a>
		    		<h3 class="school-name">Hunan University</h3>
		    		<h4 class="school-year">2008-2012</h4>
		    	</div>
		    	<hr/>
		    	<h4><b>Certificate:</b> <span>Bachelor of Engineering</span></h4>
		    	<h4><b>Major:</b> <span>Software Engineering</span></h4>
		    	<h4><b>Main Courses:</b><span>Basic Programming, Database, Data Structures, Web Development, ...</span></h4>

			</section>
	   	</div>
	</div>
</section>

<section id="other-works">
	<div class="text-center col-lg-12 col-md-12 col-sm-12">
	<h3 style="margin:30px; color:white;" >Other works</h3>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-12">

	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
	</div>	
</section>