<header class="intro-header" style="background-image: url('images/home-bg2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="color: brown;">
                    <h1 >Software Developer</h1>
                    <span class="subheading">I am a full-stack developer with some experience with React(Redux), NodeJs, Spring, Html and CSS. </span>
                    <span class="subheading">At free time, I am also maintencing a forum named <a href="https://chinese.fi">Chinese.FI</a></span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="work-experience" class="work-experience main-section" style="background:gainsboro;" >
	<header>
		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    	<h2>Work Experience</h2>
		   	</div>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<section>
				<header>
					<div style="overflow: hidden; ">
						<h3 class="job-title">SW Developer</h3>
						<a class="company-logo" href="http://www.eniram.fi">
							<img src="images/eniram-logo.png"/>
						</a>
			    	</div>
			    	<hr/>
			    	<div>
			    		<span>
				    		<a class="comapny-name" href="http://www.eniram.fi">
				    			Eniram Oy
				    		</a>
				    		| Helsinki, Finland
			    		</span>
			    		<span class="work-year">2016.05-Present</span>
			    	</div>
		    	</header>
		    	<article>
		    		<p>At Eniram, my first project is called Engine-LNG which is the second phase of product Eniram Engine that helps vessel’s crew to use the engines in the most efficient way. I am responsible for both front-end and back-end development. Technolocies like React, D3.js，Bootstrap, Redux are used in the front-end development. We use webpack as module bundler. For unit test, karma, mocha, sinon and chai are used. </p>
		    		<p>At the meantime, I am also learning some knowledage of jenkins, docker and Selenium2Library for robot test.</p>
		    	</article>
			</section>
			
			<section>
				<header>
					<div style="overflow: hidden; ">
						<h3 class="job-title">Software Developer</h3>
						<a class="company-logo no-padding" href="http://www.luxusworldwide.com/">
							<img src="images/luxus-logo.png"/>
						</a>
			    	</div>
			    	<hr/>
			    	<div>
			    		<span>
				    		<a class="comapny-name" href="http://www.luxusworldwide.com/">
				    			Luxus
				    		</a>
				    		| Helsinki, Finland
			    		</span>
			    		<span class="work-year">2014.05-2015.10</span>
			    	</div>
		    	</header>
		    	<article>
		    		<p>My main work is development Microsoft Windows Phone promotion platform which has been used in 5 promos. The platform is composed of a smooth UI app, a cloud service and report website. </p>
		    		<p>Cloud service is base on Azure Cloud Services which is robust, easily extendible and secure. The report dashboard is a single page webapp base on AngularJs. D3.js and C3.js are used for data visualization. The report data was query from Azure Table storage directly in the beginning. The query became very slow as the amout of data increasing. At the end, we used Spark for report data processing. </p>
		    		<p>The framework of this promotion platform could be shown as follow:</p>
		    		<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    			<image class="slide-img" src="images/microsoft-app-architecture.png"> </image>
		    		</div>
		    	</article>
			</section>
			
			<section>
				<header>
					<div style="overflow: hidden; ">
						<h3 class="job-title">Junior SW Engineer</h3>
						<a class="company-logo" href="http://www.jd.com">
							<img src="images/jd-logo.png"/>
						</a>
			    	</div>
			    	<hr/>
			    	<div>
			    		<span>
				    		<a class="comapny-name" href="http://www.jd.com">
				    			JD.COM
				    		</a>
				    		| Chengdu, China
			    		</span>
			    		<span class="work-year">2012.07-2013.08</span>
			    	</div>
		    	</header>
		    	<article>
					<p>
						I was junior sofeware engineer in the team caleed "JD User's Behavior Analysis". We collect logs of user's behavior on <a href="http://jd.com">jd.com</a> and mobile apps, then analysis the users’ properities and behaviors.
					</p>
					<p>My main work includes:</p>
					<ul>
						<li><span>Web Development(J2EE)</span></li>
						<li><span>Data Analysis(Hadoop/Hive)</span></li>
						<li><span>WP SDK for collection data from mobile app</span></li>
						<li><span>Data collection service</span></li>
					</ul>
		    	</article>
			</section>
	   	</div>
	</div>
	
</section>

<section id="education" class="education main-section">
	<header>
		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    	<h2>Education</h2>
		   	</div>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<section>
				<div style="overflow: hidden; ">
					<a href="http://aalto.fi">
						<img class="school-logo" src="images/aalto-logo.png"/>
					</a>
		    		<h3 class="school-name">Aalto University</h3>
		    		<h4 class="school-year">2013-2016</h4>
		    	</div>
		    	<hr/>
		    	<h4><b>Certificate:</b> <span>Master of Science</span> </h4>
		    	<h4><b>Major:</b> <span>Foundations of Advanced Computing</span></h4>
		    	<h4><b>Thesis:</b> <span> StreamBench: Benchmark for Stream Processing Systems</span></h4>
		    	<h4><b>Main Courses:</b> <span>Algorithm, Machine Learning, Cryptology, Data Mining, Scalable Cloud Computing, ...</span></h4>
			</section>
			
			<section>
				<div style="overflow: hidden; ">
					<a href="http://www.hnu.edu.cn">
						<img class="school-logo" src="images/hnu-logo.jpg"/>
					</a>
		    		<h3 class="school-name">Hunan University</h3>
		    		<h4 class="school-year">2008-2012</h4>
		    	</div>
		    	<hr/>
		    	<h4><b>Certificate:</b> <span>Bachelor of Engineering</span></h4>
		    	<h4><b>Major:</b> <span>Software Engineering</span></h4>
		    	<h4><b>Main Courses:</b><span>Basic Programming, Database, Data Structures, Web Development, ...</span></h4>
		    	<h4><b>Awards:</b></span></h4>
		    	<ul>
					<li><span>Third prize of Schools Scholar Ship</span></li>
					<li><span>Third prize of Challenge Cup</span></li>
					<li><span>Software Designer Certification(PRC)</span></li>
				</ul>
			</section>
	   	</div>
	</div>
</section>

<section id="other-works" class="other-works main-section">
	<header>
		<div class="row text-center">
		    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    	<h2>Other works</h2>
		   	</div>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<section>
				<header>
					<div style="overflow: hidden; ">
						<h3 class="job-title">Intern</h3>
						<a class="company-logo" href="http://www.genomics.org.cn">
							<img src="images/bgi-logo.png"/>
						</a>
			    	</div>
			    	<hr/>
			    	<div>
			    		<span>
				    		<a class="comapny-name" href="http://www.genomics.org.cn">
				    			BGI
				    		</a>
				    		| Shenzhen, China
			    		</span>
			    		<span class="work-year">2010.7-2010.8</span>
			    	</div>
		    	</header>
		    	<article>
		    		<p>
		    			It was my first time to work in a company which is very meaningful to me. In the team, we developed a demo to distinguish the species of microbial population by analysis the gene data. The team members with biological background took charge of the analysis method and my responsibility is writing perl programs to deal with data in the server.
		    		</p>
		    	</article>
			</section>
			
			<section>
				<header>
					<div style="overflow: hidden; ">
						<h3 class="job-title">PDP</h3>
						<a class="company-logo" style="padding: 0.5rem 0;" href="http://www.wartsila.com/">
							<img src="images/wartsila-logo.png"/>
						</a>
			    	</div>
			    	<hr/>
			    	<div>
			    		<span>
				    		<a class="comapny-name" href="http://www.wartsila.com/">
				    			Wartsila
				    		</a>
				    		| Helsinki, Finland
			    		</span>
			    		<span class="work-year">2015.05-2015.10</span>
			    	</div>
		    	</header>
		    	<article>
		    		<p>
						The project was a part of PDP course at Aalto University (http://pdp.fi/) and aimed at empowering the employees at construction sites and revolutionizing the way in which power plants are constructed and operated. I joined the team at the middle of project phrase and build a mobile webapp that provides a platform for real time task management as well as delivers visual and augmented reality instructions to workers.
		    		</p>
		    		<div class="col-lg-4 col-lg-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    			<image class="slide-img" src="images/wartsila-web1.png"/>
		    		</div>
		    		<div class="col-lg-4 col-lg-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		    			<image class="slide-img" src="images/wartsila-web2.png"/>
		    		</div>
		    	</article>
			</section>
			
	   	</div>
	</div>
</section>